<script id="repeat-template" type="text/x-handlebars-template">
   <form method="POST" class="form-horizontal">
      <input type="hidden" id="repeat_id" name="repeat_id" value="{{repeat_id}}" />

      <div class="control-group">
         <label for="duration" class="control-label">Repeats:</label>
         <div class="controls">
            <select name="duration">
               <option value="daily">Daily</option>
               <option value="weekly">Weekly</option>
               <option value="monthly">Monthly</option>
               <option value="yearly">Yearly</option>
            </select>
         </div>
      </div>

      <div class="control-group">
         <label for="repeat_interval" class="control-label">Repeat every:</label>
         <div class="controls">
            <select name="repeat_interval">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
            </select>
            <span>weeks</span>
         </div>
      </div>

      <div class="control-group">
         <label for="" class="control-label">Repeat on:</label>
         <div class="controls">
            <input type="checkbox" name="repeat_on_monday" value="monday"><span>M</span>
            <input type="checkbox" name="repeat_on_tuesday" value="tuesday"><span>T</span>
            <input type="checkbox" name="repeat_on_wednesday" value="wednesday"><span>W</span>
            <input type="checkbox" name="repeat_on_thursday" value="thursday"><span>T</span>
            <input type="checkbox" name="repeat_on_friday" value="friday"><span>F</span>
            <input type="checkbox" name="repeat_on_saturday" value="saturday"><span>S</span>
            <input type="checkbox" name="repeat_on_sunday" value="sunday"><span>S</span>
         </div>
      </div>

      <div class="control-group">
         <label for="starts_on" class="control-label">Starts on:</label>
         <div class="controls">
            <input type="date" name="starts_on">
         </div>
      </div>

      <div class="control-group">
         <label for="" class="control-label">Summary:</label>
         <div class="controls">
            <span>{{repeat_id}} {{duration}} {{repeat_interval}} {{repeat_on_monday}} {{starts_on}}</span>
         </div>
      </div>

      <div class="control-group">
         <div class="form-actions">
            <button name="save" type="submit" class="btn btn-primary">Save</button>
            <button name="cancel" type="button" class="btn btn-primary">Cancel</button>
         </div>
      </div>
   </form>
</script>
