<script id="repeat-template" type="text/x-handlebars-template">
   <form method="POST" class="form-horizontal">
      <input type="hidden" id="repeat_id" name="repeat_id" value="{{repeat_id}}" />

      <div class="control-group">
         <label for="sel_repeats" class="control-label">Repeats:</label>
         <div class="controls">
            <select name="sel_repeats">
               <option value="daily">Daily</option>
               <option value="weekly">Weekly</option>
               <option value="monthly">Monthly</option>
               <option value="yearly">Yearly</option>
            </select>
         </div>
      </div>

      <div class="control-group">
         <label for="sel_repeat_every" class="control-label">Repeat every:</label>
         <div class="controls">
            <select name="sel_repeat_every">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
            </select>
            <span>weeks</span>
         </div>
      </div>

      <div class="control-group">
         <label for="repeat_on" class="control-label">Repeat on:</label>
         <div class="controls">
            <input type="checkbox" name="chk_monday" value="monday"><span>M</span>
            <input type="checkbox" name="chk_tuesday" value="tuesday"><span>T</span>
            <input type="checkbox" name="chk_wednesday" value="wednesday"><span>W</span>
            <input type="checkbox" name="chk_thursday" value="thursday"><span>T</span>
            <input type="checkbox" name="chk_friday" value="friday"><span>F</span>
            <input type="checkbox" name="chk_saturday" value="saturday"><span>S</span>
            <input type="checkbox" name="chk_sunday" value="sunday"><span>S</span>
         </div>
      </div>

      <div class="control-group">
         <label for="dt_starts_on" class="control-label">Starts on:</label>
         <div class="controls">
            <input type="date" name="dt_starts_on">
         </div>
      </div>

      <div class="control-group">
         <label for="" class="control-label">Summary:</label>
         <div class="controls">
            <span>Weekly on Tuesday</span>
         </div>
      </div>

      <div class="control-group">
         <div class="form-actions">
            <button name="save" type="submit" class="btn btn-primary">Save</button>
            <button name="cancel" type="button" class="btn btn-primary">Cancel</button>
         </div>
      </div>
   </form>
</script>
